<div class="simple-title">
  <h1>
    Tienda Simple
  </h1>
  <p>
    Un boceto de Una Tienda simple hecha con Angular. <br>
    Muestra los productos de manera responsive ajustandose a cualquier
    ancho.
  </p>
</div>

<div class="products">
  <div class="prod">
    <img src="../assets/cafe/package1.webp" alt="">

    <div class="column">
      <div class="left">
        <h6>Lorem Ipsum</h6>
        <p>Lorem Ipsum</p>
      </div>

      <div class="right">
        $20.000 cop
      </div>
    </div>


  </div>

  <div class="prod">
    <img src="../assets/cafe/package2.webp" alt="">
    <div class="column">
      <div class="left">
        <h6>Lorem Ipsum</h6>
        <p>Lorem Ipsum</p>
      </div>

      <div class="right">
        $10.000 cop
      </div>
    </div>
  </div>

  <div class="prod">
    <img src="../assets/cafe/package3.webp" alt="">
    <div class="column">
      <div class="left">
        <h6>Lorem Ipsum</h6>
        <p>Lorem Ipsum</p>
      </div>

      <div class="right">
        $30.000 cop
      </div>
    </div>
  </div>
  <div class="prod">
    <img src="../assets/cafe/package4.webp" alt="">
    <div class="column">
      <div class="left">
        <h6>Lorem Ipsum</h6>
        <p>Lorem Ipsum</p>
      </div>

      <div class="right">
        $20.000 cop
      </div>
    </div>
  </div>

  <div class="prod">
    <img src="../assets/cafe/package4.webp" alt="">

    <div class="column">
      <div class="left">
        <h6>Lorem Ipsum</h6>
        <p>Lorem Ipsum</p>
      </div>

      <div class="right">
        $20.000 cop
      </div>
    </div>


  </div>
  <div class="prod">
    <img src="../assets/cafe/package3.webp" alt="">
    <div class="column">
      <div class="left">
        <h6>Lorem Ipsum</h6>
        <p>Lorem Ipsum</p>
      </div>

      <div class="right">
        $10.000 cop
      </div>
    </div>
  </div>
  <div class="prod">
    <img src="../assets/cafe/package2.webp" alt="">
    <div class="column">
      <div class="left">
        <h6>Lorem Ipsum</h6>
        <p>Lorem Ipsum</p>
      </div>

      <div class="right">
        $30.000 cop
      </div>
    </div>
  </div>
  <div class="prod">
    <img src="../assets/cafe/package1.webp" alt="">
    <div class="column">
      <div class="left">
        <h6>Lorem Ipsum</h6>
        <p>Lorem Ipsum</p>
      </div>

      <div class="right">
        $20.000 cop
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <h6>tienda rapida.</h6>
  <p>
    Diseñado en Angular <br>
    por <a href="https://www.linkedin.com/in/cvmilo/" target="_blank"> Camilo Cruz </a>
  </p>
</div>

<div class="link">
  <a href="https://cvmilo.netlify.app" target="_blank">Portafolio</a>
  <a href="https://www.linkedin.com/in/cvmilo" target="_blank">Linkedin</a>
  <a href="mailto:camiloc9203@gmail.com">Email</a>
</div>
