/* You can add global styles to this file, and also import other style files */
body{
    background-color: dimgrey;
}
.products img{
    border-radius: 8px;
    width: 100%;
    height: auto;

}
.products{
    margin-top: 100px;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(300px, 2fr)
    );
    gap: 32px;
}

.simple-title{
    margin-top: 100px;
    text-align: center;
}
.simple-title h1{
    color: #f0c4a4;
    font-size: 1rem;
    font-family: 'Mooli', sans-serif;
}
.simple-title p {
    color: #f0c4a4;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Mooli', sans-serif;
    text-align: center; /* Añade esta propiedad para centrar el texto horizontalmente */
}
@media (max-width: 768px) {
    .products {
      grid-template-columns: 1fr; /* Cambiar a una sola columna */
    }
    .simple-title h1{
        color: #f0c4a4;
        font-size: 0.7rem;
        font-family: 'Mooli', sans-serif;
    }
    .simple-title p {
        color: #f0c4a4;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Mooli', sans-serif;
        text-align: center; /* Añade esta propiedad para centrar el texto horizontalmente */
    }
  }
.footer{
    text-align: center;
    margin-bottom: 100px;
}
.footer h6{
    color: #fff;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Mooli', sans-serif;
}
.footer p{
    color: #fff;
    font-size: 1rem;
    font-family: 'Mooli', sans-serif;
}
a{
    color: white;
    transition: 0.3s ease-in-out;
}
a:hover{
    color: #f0c4a4;
}
.link{
    font-family: 'Mooli', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.link a{
    color: #f0c4a4;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    margin: 20px;
}
.link a:hover{
    color: #fff;
}

.column {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.prod{
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}
.prod:hover{
    cursor: pointer;
    transform: scale(1.1);
}
  .left h6 {
    color: #f0c4a4;
    font-size: 0.8rem;
    font-family: 'Mooli', sans-serif;
    line-height: 0.1; /* Establece el interlineado a 1 para eliminar cualquier espacio adicional */
  }
  .left p {
    color: #fff;
    font-size: 0.9rem;
    font-family: 'Mooli', sans-serif;
    line-height: 0.1; /* Establece el interlineado a 1 para eliminar cualquier espacio adicional */
  }
  .right {
    color: #ff6444;
    font-size: 1rem;
    font-family: 'Mooli', sans-serif;
    font-weight: bold;
  }
  